$baseFontFamily: 'SFProText', Arial, Tahoma, sans-serif;
$sfProDisplayFontFamily: 'SFProDisplay', Arial, Tahoma, sans-serif;
$sfProRoundedFontFamily: 'SFRounded', Arial, Tahoma, sans-serif;
$nunitoFontFamily: 'Nunito', Arial, Tahoma, sans-serif;

//@font-face {
//  font-family: 'Nunito';
//  src: url('../fonts/Nunito-Light.eot');
//  src: url('../fonts/Nunito-Light.eot?#iefix') format('embedded-opentype'),
//  url('../fonts/Nunito-Light.woff') format('woff'),
//  url('../fonts/Nunito-Light.ttf') format('truetype');
//  font-weight: 300;
//  font-style: normal;
//}

@font-face {
 font-family: 'Nunito';
 src: url('../fonts/Nunito-Regular.eot');
 src: url('../fonts/Nunito-Regular.eot?#iefix') format('embedded-opentype'),
 url('../fonts/Nunito-Regular.woff') format('woff'),
 url('../fonts/Nunito-Regular.ttf') format('truetype');
 font-weight: normal;
 font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito-SemiBold.eot');
  src: url('../fonts/Nunito-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Nunito-SemiBold.woff') format('woff'),
  url('../fonts/Nunito-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
 }

@font-face {
 font-family: 'SFRounded';
 src: url('../fonts/SFRounded-Medium.eot');
 src: url('../fonts/SFRounded-Medium.eot?#iefix') format('embedded-opentype'),
 url('../fonts/SFRounded-Medium.woff') format('woff'),
 url('../fonts/SFRounded-Medium.ttf') format('truetype');
 font-weight: 500;
 font-style: normal;
}

//@font-face {
//  font-family: 'SFRounded';
//  src: url('../fonts/SFRounded-Heavy.eot');
//  src: url('../fonts/SFRounded-Heavy.eot?#iefix') format('embedded-opentype'),
//  url('../fonts/SFRounded-Heavy.woff') format('woff'),
//  url('../fonts/SFRounded-Heavy.ttf') format('truetype');
//  font-weight: 900;
//  font-style: normal;
//}

//@font-face {
//  font-family: 'SFProDisplay';
//  src: url('../fonts/SFProDisplay-Medium.eot');
//  src: url('../fonts/SFProDisplay-Medium.eot?#iefix') format('embedded-opentype'),
//  url('../fonts/SFProDisplay-Medium.woff') format('woff'),
//  url('../fonts/SFProDisplay-Medium.ttf') format('truetype');
//  font-weight: 500;
//  font-style: normal;
//}

@font-face {
  font-family: 'SFProText';
  src: url('../fonts/SFProText-Regular.eot');
  src: url('../fonts/SFProText-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SFProText-Regular.woff') format('woff'),
  url('../fonts/SFProText-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SFProText';
  src: url('../fonts/SFProText-Medium.eot');
  src: url('../fonts/SFProText-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SFProText-Medium.woff') format('woff'),
  url('../fonts/SFProText-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SFProText';
  src: url('../fonts/SFProText-Light.eot');
  src: url('../fonts/SFProText-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SFProText-Light.woff') format('woff'),
  url('../fonts/SFProText-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'SFCompactText';
  src: url('../fonts/SFCompactText-Thin.eot');
  src: url('../fonts/SFCompactText-Thin.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SFCompactText-Thin.woff') format('woff'),
  url('../fonts/SFCompactText-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
 font-family: 'SFRounded';
 src: url('../fonts/SFRounded-Regular.eot');
 src: url('../fonts/SFRounded-Regular.eot?#iefix') format('embedded-opentype'),
 url('../fonts/SFRounded-Regular.woff') format('woff'),
 url('../fonts/SFRounded-Regular.ttf') format('truetype');
 font-weight: normal;
 font-style: normal;
}

@font-face {
  font-family: 'SFProText';
  src: url('../fonts/SFProText-Semibold.eot');
  src: url('../fonts/SFProText-Semibold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SFProText-Semibold.woff') format('woff'),
  url('../fonts/SFProText-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

//@font-face {
//  font-family: 'SFRounded';
//  src: url('../fonts/SFRounded-Light.eot');
//  src: url('../fonts/SFRounded-Light.eot?#iefix') format('embedded-opentype'),
//  url('../fonts/SFRounded-Light.woff') format('woff'),
//  url('../fonts/SFRounded-Light.ttf') format('truetype');
//  font-weight: 300;
//  font-style: normal;
//}

@font-face {
  font-family: 'SFProText';
  src: url('../fonts/SFProText-Ultralight.eot');
  src: url('../fonts/SFProText-Ultralight.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SFProText-Ultralight.woff') format('woff'),
  url('../fonts/SFProText-Ultralight.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

//@font-face {
//  font-family: 'SFCompactDisplay';
//  src: url('../fonts/SFCompactDisplay-Light.eot');
//  src: url('../fonts/SFCompactDisplay-Light.eot?#iefix') format('embedded-opentype'),
//  url('../fonts/SFCompactDisplay-Light.woff') format('woff'),
//  url('../fonts/SFCompactDisplay-Light.ttf') format('truetype');
//  font-weight: 300;
//  font-style: normal;
//}

@font-face {
  font-family: 'SFProText';
  src: url('../fonts/SFProText-Thin.eot');
  src: url('../fonts/SFProText-Thin.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SFProText-Thin.woff') format('woff'),
  url('../fonts/SFProText-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'SFProDisplay';
  src: url('../fonts/SFProDisplay-Thin.eot');
  src: url('../fonts/SFProDisplay-Thin.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SFProDisplay-Thin.woff') format('woff'),
  url('../fonts/SFProDisplay-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'SFProDisplay';
  src: url('../fonts/SFProDisplay-Light.eot');
  src: url('../fonts/SFProDisplay-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SFProDisplay-Light.woff') format('woff'),
  url('../fonts/SFProDisplay-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'SFProDisplay';
  src: url('../fonts/SFProDisplay-Regular.eot');
  src: url('../fonts/SFProDisplay-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SFProDisplay-Regular.woff') format('woff'),
  url('../fonts/SFProDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SFProText';
  src: url('../fonts/SFProText-Bold.eot');
  src: url('../fonts/SFProText-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SFProText-Bold.woff') format('woff'),
  url('../fonts/SFProText-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

