@media all and (min-width: 768px) {

  .main-slider-item {
    height: 480px;

    &__content {
      top: 40px;

      p {
        margin-bottom: 20px;
        padding-bottom: 10px;
        font-size: 18px;
      }
      h3 {
        margin-bottom: 20px;
        font-size: 40px;
        line-height: 42px;
        max-width: 300px;
      }
      a {
        font-size: 16px;
        padding: 10px 20px;
      }
    }
  }

  .two-categories-item {
    height: 240px;
  }

  .ad-cost {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px 0 0;
    &__price,
    &__rules-user {
      padding: 40px 50px;
    }

    &__price-block {
      flex: 0 0 49%;
      box-sizing: border-box;

      h2 {
        padding: 0 0 50px !important;
      }
    }

    &__sale-premium {
      flex: 0 0 49%;
      padding: 30px 50px;
      margin: 0;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;

      ul {
        margin: auto 0 0;
      }
    }

    &__rules-user {
      flex: 0 0 100%;
    }
  }
  
  .rules-user {
    &__title {
      &:after {
        top: -15px;
      }
    }
  }

  .submitting {
    .form-cont {
      .tabs-mess {
        .tabs__content.active {
          .tabs-item {
            .btn-cont {
              display: flex;
              flex-direction: row;
              width: 100%;
              justify-content: space-between;
              align-items: center;
              margin: 0 auto;

              .prev-step,
              .save-next {
                margin: 0;
              }

              .save-edit {
                margin: 0 40px;
              }


              &_first {
                margin: 0 0 0 auto;
                justify-content: flex-end;
              }
            }

            .checkbox-block {

              p {
                width: 100%;
                align-items: center;
                span {
                  margin: 0;
                }
              }
            }
          }
        }
      }
    }
  }

  .item-cart {
    .cart-name {
      font-size: 11px;
      padding-bottom: 10px;
      display: block;
      line-height: 18px;
    }
  }
  .inline-cart {
    .img-wrap {
      margin: 0;
      min-width: 143px;
    }
    .info-cart {
      max-width: 100%;
      width: 100%;
      box-sizing: border-box;
      .cart-name {
        font-size: 13px;
        padding-bottom: 10px;
        transition: color 0.25s ease-in-out;
        &:hover {
          color: $AntiqueBrass;
        }
      }
      .info-wrap {
        .block {
          padding-right: 5px;
        }
        .bord {
          border-right: 1px solid #d7d7d7;
          border-left: 1px solid #d7d7d7;
        }
        .block-grid {
          display: block;
          padding: 0 5px;
          max-width: 244px;
          .item-infos {
            display: flex;
            flex-direction: row;
            align-items: baseline;
            p {
              width: 50%;
              color: #777781;
              font-size: 11px;
              font-weight: 300;
            }
            span {
              display: block;
              width: 50%;
              color: #222222;
              font-size: 11px;
              text-align: right;
              font-weight: 400;

              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              webkit-line-clamp: 1;
            }
          }
        }
      }
    }
  }
  .change-option {
    padding-left: 65px;
    .chek_cont {
      padding-top: 2px;
      input[type="checkbox"]{
        &+label{
          p {
            position: absolute;
            top: 7px;
            display: flex;
            width: auto;
            align-items: center;
            span {
              display: block;
            }
          }
        }
      }
    }
  }
  section.main-items {
    .main-items-wrap {
      .tabs {
        .block-1 {
          left: 15px;
          width: 16px;
        }
        .block-2 {
          left: 55px;
          width: 16px;
        }
        .wrap2 {
          position: absolute;
          right: 15px;
          top: 23px;
          max-width: 300px;
          width: 100%;
        }
      }
    }
    .items-block {
      margin-left: 0;
      margin-right: 0 !important;
      .inline-cart {
        max-width: 100%;
        margin: 0 0 5px 0;
      }
    }
    .block-view {
      grid-template-columns: repeat(5, 20%);
    }
  }
  .pagination-wrap {
    margin: 0;
  }
  .footer {
    .sent-wrap {
      .sent-news {
        .search-wrap {
          input {
            background-position: 96% 50%;
          }
          span {
            right: 10%;
          }
        }
      }
    }
    .footer-wrap {
      .application-cont {
        .store-cont {
          justify-content: space-between;
          flex-direction: row;
          .stores {
            flex-direction: column-reverse;
            .google-play, .apple-play {
              img {
                max-width: 181px;
              }
            }
          }
          .order-advert {
            margin: initial;
          }
        }
      }
    }
  }

  section.e404 {
    .e404-wrap {
      img {
        max-width: 450px;
      }
      h2 {
        font-size: 20px;
      }
    }
  }

  section.about {
    .container {
      padding: 59px 27px 61px;
      .info-items {
        flex-direction: row;
        justify-content: space-between;
      }
      .about-form {
        max-width: 500px;
        margin: 0 auto;
      }
    }
  }

  section.seller-page {
    .seller-main {
      h2 {
        font-size: 18px;
        max-width: 500px;
        line-height: 23px;
        span {
          display: inline-block;
        }
      }
      .seller-slider {
        .prev-arrow {
          left: 50px;
        }
        .next-arrow {
          right: 50px;
        }
        .item-cont {
          display: grid;
          grid-template-columns: repeat(2, 143px);

          .item-cart {
            max-width: 300px;
            margin: 0 auto;
            .cart-name {
              font-size: 11px;
            }
          }
        }
      }
      .all-seller-ads {
        text-align: center;
        margin: 43px auto 0;
      }
    }
  }

  section.seller-ads {
    background-color: $text;
    .seller-prod {
      padding: 29px 15px 48px;
      background-image: url("./../images/content/stor-phot.png");
    }
  }

  //------lk
  section.setting, .referral, .profile, .favorite, .messages {
    .container-wrap {
      padding: 40px 0;
    }
  }
  section.announcements, .payments, .setting, .referral, .profile, .favorite, .messages {
    .container-wrap {
      .person-block{
        position: absolute;
        background-color: white;
        max-width: 230px;
        z-index: 10;
        right: -999px;
        border-radius: 3px 0 0 3px;
        padding: 40px 0 20px 25px;
        transition: all 0.3s ease-in-out;
        &.active {
          right: 0;
        }
        .close {
          width: 20px;
          height: 20px;
          object-fit: contain;
          position: absolute;
          top: 15px;
          left: -25px;
        }
        .person-info {
          display: flex;
          align-items: center;
          flex-direction: row;
          padding-bottom: 40px;
          .img-cont {
            position: relative;
            border-radius: 50px;
            border: 2px solid #d5ab83;
            padding: 2px;
            width: 75px;
            height: 75px;
            overflow: hidden;
            img {
              //position: absolute;
              width: 100%;
              height: 100%;
              box-sizing: border-box;
            }
          }
          .peron-name {
            padding-left: 15px;
            color: black;
            font-size: 14px;
            font-weight: 500;
            line-height: 24px;
            max-width: 55%;
            text-align: left;
          }
        }
        .link-items {
          li {
            display: flex;
            flex-direction: row;
            padding: 10px 0 10px 20px;
            align-items: center;
            margin-bottom: 25px;
            border-radius: 3px 0 0 3px;
            position: relative;
            &.active {
              background-color: #e7c095;
            }
            &:last-child {
              margin-top: 70px;
              margin-bottom: 0;
              &:before {
                position: absolute;
                content: '';
                width: 255px;
                height: 1px;
                background-color: #d7d7d7;
                top: -35px;
                left: -25px;
              }
            }
            img {
              display: block;
              width: 25px;
              margin-right: 15px;
            }
            a {
              text-decoration: none;
              color: black;
              font-size: 14px;
              line-height: 20px;
              font-weight: 300;
              position: relative;
              display: block;
            }
          }
        }
      }
      .block-content {
        padding-top: 30px;
        .name-lk {
          color: #d5aa82;
          font-size: 22px;
          font-weight: 300;
          line-height: 1;
          text-align: center;
          display: block;
          padding-bottom: 45px;
        }
        .radio-wrap {
          text-align: center;
          padding: 30px;
          border: 1px solid #d2d2d2;
          max-width: 720px;
          margin: 0 auto;
        }
      }
      //---payment
      .block-payment {
        padding-left: 15px;
        padding-right: 15px;
        .name-lk {
          color: #d5aa82;
          font-size: 22px;
          font-weight: 300;
          line-height: 1;
          text-align: center;
          display: block;
          padding-bottom: 45px;
        }
        .payment-cont {
          border: 1px solid #d7d7d7;
          border-radius: 3px;
          padding: 20px;
        }
        .cont {
          padding: 0 0px 15px;
          .money {
            display: flex;
            flex-direction: row;
            align-items: center;
            div {
              font-size: 18px;
              padding-bottom: 0px;
              padding-right: 15px;
            }
            p {
              font-size: 18px;
            }
          }
          .replenish {
            font-size: 14px;
            padding: 13px 27px;
          }
        }
        .payment-items {
          padding: 0;
        }
      }
      //----setting
      .block-setting {
        padding: 30px 28px;
        border: 1px solid #d7d7d7;
        max-width: 650px;
        width: 100%;
        margin: 0px auto 30px;
        border-radius: 3px;
      }
      //---referral
      .block-referral {
        padding: 30px 28px;
        border: 1px solid #d7d7d7;
        max-width: 650px;
        width: 100%;
        margin: 0px auto 30px;
        border-radius: 3px;
        .referral {
          max-width: 400px;
          margin: 0 auto;
          label {
            input {
              max-width: 300px;
            }
          }
        }
      }
      //--profile
      .block-profile {
        padding: 30px 15px 55px;
        border: 1px solid $border;
        margin: 0 auto;
        max-width: 700px;

        .name-lk {
          color: #d5aa82;
          font-size: 22px;
          font-weight: 300;
          line-height: 1;
          text-align: center;
          display: block;
          padding-bottom: 45px;
        }
        .profile-header {
          flex-direction: row;
          border-bottom: 1px solid $border;
          padding-bottom: 20px;
          padding-left: 15px;
          margin-left: -15px;
          margin-right: -15px;
          padding-right: 15px;
          justify-content: space-between;
          .name-cont {
            border: none;
            order: 1;
            margin: 0;
            padding: 0;
            max-width: 300px;
          }
          .name-setting {
            max-width: 350px;
            margin: 0;
            padding: 0;
            border: none;
            flex-direction: column-reverse;
            .photo-set {
              max-width: 100%;
              .edit-photo, .delete-photo {
                font-size: 13px;
              }
              .edit-photo {
                padding-bottom: 15px;
              }
            }
            .load-prof {
              max-width: 100%;
              display: flex;
              align-items: center;
              padding-bottom: 15px;
              p {
                padding-left: 0px;
                text-align: left;
                padding-right: 10px;
                font-size: 20px;
                span {
                  font-size: 20px;
                  padding-left: 0px;
                }
                &:first-child {
                  padding-bottom: 0px;
                }
              }
            }
          }
        }
        .person-date, .contact-date, .address-date, .about-me {
          h2 {
            color: #d5aa82;
            padding-bottom: 40px;
            font-size: 22px;
            line-height: 1;
            font-weight: 300;
          }
          .textarea {
            align-items: flex-start;
            margin-top: 20px;
          }
          label {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            .input-cont {
              width: 100%;
              max-width: 480px;
              input {
                &:first-child {
                  max-width: 150px;
                }
                &:last-child {
                  max-width: 300px;
                }
              }
            }
            input {
              max-width: 480px;
            }
            textarea {
              margin-top: 0;
              max-width: 480px;
            }
            input[type="date" ] {
              text-indent: 25px;
            }
          }
          .aline {
            align-items: center !important;
          }
          .select-price {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            p {
              display: block;
              font-size: 9px;
              font-weight: 500;
              text-transform: uppercase;
            }
            .select-value {
              max-width: 480px;
            }
            .value-items {
              max-width: 480px;
              top: 48px;
            }
            .lang-wrap {
              display: flex;
              flex-direction: column;
              width: 100%;
              max-width: 480px;
            }
            .lang-result {
              padding: 10px 0;
              display: flex;
              align-items: center;
              justify-content: center;
              span {
                padding: 0 10px;
                display: block;
                color: #9c9899;
                font-size: 10px;
                font-weight: 300;
                border-right: 1px solid $border;
                text-transform: uppercase;
                &:last-child {
                  border-right: none;
                }
              }
            }
          }
        }
        .option-prof {
          padding-top: 25px;
          display: flex;
          flex-direction: column;
          .cont {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin-bottom: 25px;
            .change-pass {
              font-size: 9px;
              text-transform: uppercase;
              font-weight: 500;
              color: black;
              text-decoration: none;
            }
          }
          .save-profile {
            padding: 12px 60px;
            font-size: 13px;
            line-height: 1;
            font-weight: normal;
            color: #000;
            border: 1px solid $GoldSand;
            background-color: $GoldSand;
            transition: all 0.3s ease-in-out;
            max-width: 190px;
            margin: 0 auto;
          }
        }
      }

      //--block-favorite
      .block-favorite {
        padding: 0;
        // border: 1px solid $border;
        width: 100%;
        max-width: 700px;
        margin: 0 auto;
        .name-lk {
          color: #d5aa82;
          font-size: 22px;
          font-weight: 300;
          line-height: 1;
          text-align: center;
          display: block;
          padding-bottom: 45px;
        }
        .radio-wrap {
          text-align: center;
          padding: 30px;
          border: 1px solid #d2d2d2;
          max-width: 720px;
          margin: 0 auto;
        }
      }
    }

    //--block-messages
    .block-messages {
      padding: 30px 15px;
      border: 1px solid $border;
      width: 100%;
      max-width: 700px;
      margin: 0 auto;
    }
  }

  .item-favorite {
    max-width: 100% ;
    .item-info {
      justify-content: flex-start;
      .img-wrap {
        margin-right: 20px;

      }
      .desc-cont {
        max-width: 500px;
        flex-direction: column;
        .item-name {
          max-width: 500px;
        }
        .desc-main {
          display: flex;
          padding-bottom: 5px;
          .price-cont {
            display: flex;
            flex-direction: column;
            border-right: 1px solid $border;
            padding-right: 30px;
            .new {
              font-size: 13px;
              line-height: 1;
              font-weight: 600;
              padding-bottom: 5px;
            }
            .old {
              color: #cccccc;
              font-size: 12px;
              font-weight: 500;
              line-height: 1;
              text-decoration: line-through;
            }
            .rating {
              max-width: 60px;
              padding-top: 5px;
              margin-top: 5px;
              border-top: 1px solid $border;
            }
          }
        }
        .publication-cont {
          display: flex;
          border: none;
          width: 100%;
          max-width: 250px;
          border-right: 1px solid $border;
          .cont {
            span {
              font-size: 10px;
              font-weight: normal;
              text-align: left;
            }
            p {
              font-size: 10px;
              color: #777781;
              text-align: left;
              font-weight: 300;
            }
          }
        }
        .social-cont {
          display: flex;
          align-items: center;
          padding-left: 15px;
          .soc-icon {
            position: relative;
            width: 20px;
            display: block;
            height: 20px;
            &:before {
              position: absolute;
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
              content: '';
            }
            &:nth-child(1) {
              &:before {
                width: 20px;
                height: 16px;
                background-image: url("./../images/icons/lk-Twitter.svg");
              }
            }
            &:nth-child(2) {
              &:before {
                width: 12px;
                height: 16px;
                background-image: url("./../images/icons/lk-Facebook.svg");
              }
            }
          }
        }
      }
    }
    .publication-cont {
      display: none;
    }
  }

  .item-payment {
    padding: 20px 20px;
    justify-content: space-between;
    max-width: 100%;
    margin: 15px auto 0;
    .info-cont {
      display: flex;
      &:first-child {
        border-right: 1px solid #d7d7d7;
        padding-right: 22px;
      }
    }
    &:before {
      content: none;
    }
    .pay-info {
      display: flex;
      flex-direction: row;
      margin-bottom: 0px;

      padding: 0 22px;
      border-right: 1px solid #d7d7d7;
      &:first-child {
        padding: 0 22px 0 0;
      }
      &:last-child {
        padding: 0 0px 0 22px;
        border: none;
      }
      p {
        font-size: 12px;
        margin-bottom: 0px;
        padding-right: 10px;
      }
      span {
        font-size: 12px;
      }
    }
  }


  .ad-item {
    //border: 1px solid red; // remove
    max-width: 668px;
    margin: 0 auto 20px;
    .cont {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .img-wrap {
      img {
        max-width: 160px;
        max-height: 160px;
        cursor: pointer;
      }
    }
    .ad-cont {
      max-width: 490px;
      .name-block {
        display: flex;
        flex-direction: row;
        h2 {
          max-width: 300px;
        }
        .data {
          display: flex;
          flex-direction: row;
          align-items: center;
          max-width: 180px;
          justify-content: flex-end;
          width: 100%;
          p {
            span {
              color: #777781;
              display: block;
              font-size: 10px;
              font-weight: 500;
              line-height: 13.94px;
            }
          }
          .advertice {
            margin-left: 15px;
            max-width: 82px;
            width: 100%;
            box-sizing: border-box;
            border: none;
            background-color: $GoldSand;
            font-size: 12px;
            font-weight: normal;
            line-height: 17px;
            cursor: pointer;
            border-radius: 3px;
            transition: all 0.3s ease-in-out;
            &:hover {
              background-color: #ddb58b;
              color: #ffffff;
            }
          }
        }
      }
      .price-block {
        padding-top: 12px;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 11px;
        .price {
          padding-right: 20px;
          margin-right: 20px;
          border-right: 1px solid #d7d7d7;
          .new {
            font-size: 13px;
            line-height: 1;
            font-weight: 600;
            padding-bottom: 5px;
          }
          .old {
            color: #cccccc;
            font-size: 12px;
            font-weight: 500;
            line-height: 1;
            text-decoration: line-through;
            padding-bottom: 0px;
          }
          .soc-block {
            display: none;

          }
        }
        .data {
          display: none;
        }
        .set-block {
          display: flex;
          flex-direction: row;
          align-items: center;
          .sett {
            font-weight: 600;
            font-size: 10px;
            line-height: 1;
            color: #e7c095;
            text-transform: uppercase;
            text-decoration: none;
            padding-right: 20px;
          }
          .soc-block {
            border-left: 1px solid #d7d7d7;
            display: flex;
            padding-left: 10px;
            .soc-icon {
              position: relative;
              width: 20px;
              display: block;
              height: 20px;
              &:before {
                position: absolute;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                content: '';
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
              }
              &:nth-child(1) {
                &:before {
                  width: 20px;
                  height: 16px;
                  background-image: url("./../images/icons/lk-Twitter.svg");
                }
              }
              &:nth-child(2) {
                &:before {
                  width: 12px;
                  height: 16px;
                  background-image: url("./../images/icons/lk-Facebook.svg");
                }
              }
            }
          }
        }
      }
      .statistics-cont {
        display: block;
        box-sizing: border-box;
        border-top: 1px solid #d7d7d7;
        margin: 0 -2px;
        padding: 10px 0px;
        .set-mob {
          display: none;
        }
        .static-items {
          display: flex;
          flex-direction: row;
          align-items: center;
          width: 100%;
          justify-content: space-between;
          .name-static {
            //display: block;
            font-size: 12px;
            line-height: 1;
            font-weight: 100;
          }
          .text {
            position: relative;
            display: flex;
            align-items: center;
            max-width: none;
            padding: 0 15px;
            border-right: 1px solid #d7d7d7;
            &:nth-child(2) {
              padding: 0 15px 0 0;
            }
            &:last-child {
              border: none;
            }
            &:nth-child(3) {
              img {
                width: 15px;
              }
            }
            img {
              width: 20px;
              margin-right: 5px;
            }
            span {
              font-size: 12px;
              line-height: 1;
              font-weight: 600;
              margin-left: 5px;
            }
            p {
              font-size: 12px;
              line-height: 1;
              font-weight: 300;
              display: block;
            }
          }
        }
      }
    }
    .statistics-cont {
      display: none;
    }
  }

  section.item-page {
    .cart-info-block {
      flex-direction: row;
      justify-content: space-between;
      .slider-item-page {
        //max-width: 48%;
        max-width: 354px;
        .swiper-slide {
          max-height: 350px;
        }
      }
      .item-information {
        width: 48%;
      }
    }
  }

  #referral_number {
    .number-wrap {
      .search-wrap {
        .text-modal {
          left: 60px;
        }
      }
      .accessories {
        .text-modal {
          right: 60px;
        }
      }
    }
  }

  section.submitting {
    .form-cont {
      .tabs-mess {
        .tabs__content.active {
          .tabs-item {
            .control-block-wrap {
              display: flex;
              align-items: center;
              justify-content: space-around;
            }
            .block-data-cont {
              max-width: 600px;
              margin: 40px auto;
            }
          }
        }

        .tabs__caption li {
          font-size: 16px;
          padding: 10px 30px;
        }
      }
    }
  }
  .cont-img {
    #uploadImagesList {
      grid-template-columns: repeat(5, 140px);
    }
  }
}

