@media all and (min-width: 568px) {
  .main-slider-item {
    img {
      right: -15%;
    }
  }

  section.main-items {
    .block-view {
      grid-template-columns: repeat(3, auto);
    }
  }

  .price-slider {
    &__controls {
      padding: 60px 0 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        flex: 1 1 0;
        margin: 0 55px;
      }
    }
  }
}
