@media all and (min-width: 1024px) {
  .header-mob {
    display: none;
  }
  .header-desc {
    display: block;
  }

  .main-slider {
    .swiper-button-prev,
    .swiper-button-next {
      height: 32px;
      width: 32px;
      bottom: 85px;
    }

    .swiper-pagination {
      display: block;
    }
  }
  .main-slider-item {
    height: 600px;

    img {
      right: 0;
      width: 100%;
    }

    &__content {
      top: 70px;

      p {
        margin-bottom: 30px;
      }
      h3 {
        margin-bottom: 30px;
        font-size: 56px;
        line-height: 110%;
        font-weight: 600;
        max-width: 400px;
      }
      a {
        font-size: 14px;
        padding: 15px 35px;
      }
    }
  }

  .search-field {
    input {
      width: 100%;
      padding: 0 90px 0 12px;
      box-sizing: border-box;
      font-size: 13px;
      height: 40px;
      border-radius: 4px;
      border: none;
    }
  
    &__send-btn {
      width: 58px;
      cursor: pointer;
  
      &:before {
        height: 21px;
        opacity: 1;
      }
  
      img {
        height: 26px;
      }
    }
  }

  .languages-btns {
    margin: 2px 0 0;
    a {
      & + a {
        margin: 0;
      }
      line-height: 150%;
    }
  }

  .two-categories {
    margin: -55px auto 0;
    width: 100%;
    background: $white;

    &__content {
      position: relative;
      z-index: 3;
      padding: 35px;
      box-sizing: border-box;
      border-radius: 4px;
    }
  }

  .two-categories-item {
    height: 300px;
    font-size: 28px;
    letter-spacing: 2px;

    &__content {
      p {
        bottom: auto;
        left: 30px;
        top: 35px;
        text-align: left;
      }
    }
  }

  .brands-slider-item {
    height: 100px;
  }

  .search-input-holder {
    position: relative;
    display: flex;
    align-items: center;
  
    .clear-field-btn {
      opacity: 0;
      width: 20px;
      height: 100%;
      padding: 0 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: -1;
      transition: all .3s ease-out;
  
      &.showed {
        opacity: 1;
        z-index: 1;
  
        & + button {
          &:before {
            opacity: 1;
          }
        }
      }
  
      img {
        display: block;
        margin: auto;
        width: 100%;
      }
    }
  
    &__buttons {
      display: flex;
      align-items: center;
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
    }
  }

  .filters-search {
    margin: 0 0 30px;
    width: calc(100% - 60px);
  }

  .filters-submit-btn {
    max-width: 260px;
  }

  .filters-save-btn,
  .filters-submit-btn {
    font-size: 18px;
    margin: 0;
    padding: 12px 0;
  }

  .filters-save-btn {
    padding-left: 40px;
    padding-right: 40px;
  }

  .filters-buttons {
    display: flex;
    justify-content: space-between;
    padding: 30px 0 0;
    border-top: 1px solid $border;

    button + button {
      margin: 0;
    }
  }

  .filters-mob {
    display: none;
  }
  .filters-desc {
    display: block;
  }

  .filters-desc-inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .reset-filters-btn {
    margin: 0 90px 0 0;
    width: 150px;
    height: 50px;
    font-size: 18px;
  }

  .checkboxes-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: auto;
    max-height: none;
    padding: 0 0 45px;
    box-sizing: border-box;
    margin: 0 0 auto;

    li {
      max-width: 270px;
      width: 100%;
      box-sizing: border-box;
    }

    .checkbox-block__label {
      p {
        font-size: 13px;

        &:before {
          flex: 0 0 24px;
          height: 24px;
        }
      }
    }
  }

  .price-slider {
    width: 100%;
    margin: auto;
  }

  .panel {
    font-size: 16px;
    font-weight: 300;
    line-height: 35px;
    letter-spacing: 1.2px;
  }
  .item-cart {
    padding-bottom: 20px;
    .rating-cont {
      max-width: 100px;
      img {

      }
    }
    .cart-name {
      font-size: 14px;
      padding-bottom: 0px;
      line-height: 18px;
      max-width: 190px;
      height: 40px;
      margin-bottom: 10px;
    }
    .price-block {
      .old {
        font-size: 14px;
      }
      .new {
        font-size: 16px;
      }
    }
    .vip-label {
      width: 83px;
      height: 74px;
    }
    .favorite-icon {
      width: 24px;
      height: 24px;
      cursor: pointer;
      img {
        width: 24px;
        height: 24px;
      }
    }


    .img-wrap {
      margin: 0;
      min-width: 247px;
      min-height: 249px;
      position: initial;
      img {
        height: initial;
      }
    }
  }
  .inline-cart {
    .vip-label {
      width: 83px;
      height: 74px;
    }
    .favorite-icon {
      width: 24px;
      height: 24px;
      cursor: pointer;
      img {
        width: 24px;
        height: 24px;

      }
    }
    .img-wrap {
      margin: 0;
      min-width: 247px;
      min-height: 249px;
    }
    .info-cart {
      .rating-cont {
        max-width: 100px;
      }
      .cart-name {
        font-size: 16px;
        line-height: 24px;
        padding-bottom: 45px;
      }
      .info-wrap {
        .block {
          width: 75px;
        }
        .bord {

        }
        .block-grid {
          max-width: 275px;
          width: 100%;
          padding: 0 20px;
        }
      }
    }
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  .pagination-wrap {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .save-search {
      font-size: 18px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 1.35px;
      max-width: 350px;
      width: 100%;
      &:before {
        right: 30px;
      }
    }
    .pagination {
      box-sizing: border-box;
      padding: 0;
      margin: 0;
      width: 300px;
      .link-wrap {
        width: 100%;
        .text-link {
          &:last-child {
            width: 25px;
          }
        }
      }
    }
  }

  .footer {
    .sent-wrap {
      .sent-news {
        .search-wrap {
          max-width: 340px;
          .email-push {
            cursor: pointer;
            width: 120px;
            &:hover {
              span {
                color: white;
              }
            }
            img {
              display: none;
            }
            span {
              display: block;
              color: #000000;
              transition: all 0.3s ease-in-out;
            }
          }
          span {
            right: 15%;
          }
        }
      }
    }
    .sent-news {
      flex-direction: row;
      justify-content: start;
      align-items: center;
      h2 {
        text-align: left;
        font-size: 20px;
        padding-bottom: 0;
        font-weight: 400;
        letter-spacing: 1.8px;
        text-transform: uppercase;
        margin-right: 30px;
        span {
          display: block;
          font-size: 20px;
          letter-spacing: 1.5px;
          font-weight: 100;
          text-transform: none;
        }
      }
      .social-sent {
        max-width: 300px;
        padding-bottom: 0;
        margin-right: 70px;
      }

    }
    .footer-wrap {

      .social-cont {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        padding: 30px 15px;
        h2 {
          color: $text;
          font-size: 24px;
          font-weight: 300;
          line-height: 30px;
          letter-spacing: 1.8px;
          padding-bottom: 0;
          margin-right: 40px;
        }
        .social-wrap {
          width: 100%;
          max-width: 400px;
          margin-right: auto;
        }
        .hot-line {
          display: block;
          p {
            color: #999999;
            font-size: 15px;
            font-weight: 300;
            line-height: 15.32px;
            padding-bottom: 13px;
            position: relative;
            padding-left: 24px;
            text-align: right;
            &:after {
              position: absolute;
              content: '';
              width: 13px;
              height: 13px;
              left: 60px;
              background-position: center;
              background-repeat: no-repeat;
              background-size: contain;
              background-image: url("./../images/icons/phone.svg");

            }
          }
          a {
            width: 251px;
            height: 23px;
            color: $text;
            font-size: 20px;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: 2.1px;
            text-decoration: none;
          }
        }
      }
      .application-cont {
        padding: 10px 15px 10px;
        position: relative;
        h2 {
          text-align: left;
          padding-bottom: 15px;
        }
        .store-cont {
          justify-content: space-between;
          flex-direction: row;
          .order-advert {
            top: 18px;
            cursor: pointer;
            position: absolute !important;
            right: 0;
          }
          .stores {
            flex-direction: column;
            padding-bottom: 0;
            .google-play, .apple-play {
              margin-bottom: 20px;
              img {
                max-width: 181px;
              }
            }
          }
        }
      }
      .mob-phone {
        display: none;
      }
    }
  }
  .main-banner {
    height: 250px;
    img {
      height: 100%;
    }
  }
  section.main-items {
    .main-items-wrap {
      .tabs {
        padding: 23px 15px 50px;
        .block-1 {
          left: 15px;
        }
        .block-2 {
          left: 50px;
        }
        .wrap2 {
          top: 84px;
        }
        .vip {
          display: block;
          width: 100%;
          text-align: center;
          color: #000301;
          font-size: 30px;
          font-weight: 400;
          line-height: 36px;
          text-transform: uppercase;
          letter-spacing: 2.25px;
          position: relative;
          background-color: $text;
          &:before {
            width: 46%;
            height: 1px;
            background-color: #d7d7d7;
            position: absolute;
            content: '';
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            z-index: 0;
          }
          &:after {
            width: 46%;
            height: 1px;
            background-color: #d7d7d7;
            position: absolute;
            content: '';
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            z-index: 0;
          }
        }
        .counter-more {
          display: block;
          width: 100%;
          text-align: right;
          a {
            color: #878585;
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 1.05px;
            text-decoration: none;
            position: relative;
            padding: 0 3px;
            &.active {
              color: $GoldSand;
            }
            &:last-child {
              &:before {
                content: none;
              }
            }
            &:before {
              position: absolute;
              content: '/';
              right: -5px;
            }
          }
        }
        .change-option {
          padding-left: 80px;
        }
        .items-block {
          padding: 20px 15px 30px;
          margin-left: 0;
        }
      }
      .pagination-wrap {
        padding-top: 10px;
      }
    }
  }

  section.e404 {
    .e404-wrap {
      padding: 80px 15px;
      img {
        max-width: 600px;
      }
      h2 {
        font-size: 26px;
      }
    }
  }

  section.text-page {
    .container {
      padding: 80px 15px 80px;
      h1 {
        font-size: 30px;
        line-height: 34px;
        margin: 0;
      }
      h2 {
        padding-bottom: 40px;
      }
      .line {
        width: 700px;
      }
    }
  }
  section.about {
    .container {
      padding: 80px 15px;
      .about-cont {
        padding-top: 80px;
      }
      .about-form {
        padding-top: 80px;
        .send-form {
          position: relative;
          &:before {
            position: absolute;
            content: '';
            background-image: url("./../images/icons/black-arrow-r.svg");
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            width: 6px;
            height: 11px;
            top: 50%;
            transform: translateY(-50%);
            right: 65px;
          }
        }
      }
    }
  }

  section.seller-page {
    .container {
      padding: 80px 15px 43px;
    }
    .seller-cont {
      flex-direction: row;
      justify-content: space-between;
      align-items: end;
      .person {
        width: 100%;
        max-width: 408px;
        .person-prof {
          width: 135px;
          height: 135px;
          margin: 0 auto 51px;
          img {
            padding: 2px;
          }
        }
        .person-rating {
          max-width: 100px;
          margin-bottom: 15px;
          img {
            width: 100px;
          }
        }
        .person-name {
          font-size: 36px;
          line-height: 40px;
        }
        .person-phone {
          font-size: 24px;
          letter-spacing: 1.8px;
          line-height: 28px;
          &:before {
            left: -30px;
            width: 22px;
            height: 22px;
          }
        }
        .person-social {
          max-width: 134px;
          margin: 0 auto 51px;
          a {
            width: 38px;
            height: 33px;
            position: relative;
            &:nth-child(1) {
              &:before {
                width: 30px;
                height: 33px;
              }
            }
            &:nth-child(2) {
              &:before {
                width: 38px;
                height: 28px;
              }
            }
            &:nth-child(3) {
              &:before {
                width: 30px;
                height: 31px;
              }
            }
          }
        }
        .person-laung {
          p {
            font-size: 18px;
            padding-bottom: 11.25px;
          }
          span {
            font-size: 14px;
            padding: 0 15px;
          }
        }
        .person-address {
          max-width: 300px;
          padding-top: 22.5px;
          .address {
            padding: 0 5px;
            p {
              font-size: 18px;
            }
            span {
              font-size: 18px;
            }
          }
        }
        .all-ads {
          font-size: 18px;
          line-height: 18px;
          letter-spacing: 1.35px;
          width: 100%;
          margin-top: 55px;
          max-width: 410px;
          padding: 14px 60px 14px 55px;
          position: relative;
          box-sizing: border-box;
          text-align: left;
          &:before {
            position: absolute;
            content: '';
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url("./../images/icons/arrow-black-r.svg");
            width: 8px;
            height: 15px;
            right: 45px;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
      .about-shop {
        max-width: 635px;
        padding-top: 0;
        padding-left: 15px;
        h2 {
          color: #e7c095;
          font-size: 36px;
          font-weight: 300;
          line-height: 38px;
          letter-spacing: 2.7px;
        }
        .line {
          width: 380px;
          margin: 51px auto;
        }
        p {
          font-size: 16px;
          font-weight: 300;
          line-height: 35px;
          letter-spacing: 1.2px;
        }
      }
    }
    .seller-main {
      .container {
        padding: 70px 15px;
        max-width: 950px;
        margin: 0 auto;
      }
      h2 {
        padding-bottom: 36px;
        font-size: 30px;
        line-height: 32px;
        letter-spacing: 2.25px;
        max-width: 535px;
      }
      .seller-slider {
        .slick-slide {
          //padding: 0 30px;
        }
        .prev-arrow, .next-arrow {
          top: 50%;
          transform: translateY(-50%);
          width: 15px;
          height: 22px;
          cursor: pointer;
        }
        .prev-arrow {
          left: -20px;
        }
        .next-arrow {
          right: -20px;
        }
        .item-cont {
          grid-template-columns: repeat(2, auto);
          display: grid !important;
          flex-direction: row;
          grid-gap: 5px;
          .item-cart {
            margin-bottom: 5px;
            .cart-name {
              font-size: 9px;
              line-height: 10px;
              letter-spacing: 1.3px;
            }
            .img-wrap {
              img {
                min-height: initial;
                max-height: 230px;
              }
            }
          }
        }
      }
      .all-seller-ads {
        position: relative;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 1.35px;
        max-width: 471px;
        padding: 14px 122px 14px 80px;
        text-align: left;
        &:before {
          position: absolute;
          content: '';
          background-image: url("./../images/icons/arrow-black-r.svg");
          width: 8px;
          height: 13px;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          top: 50%;
          transform: translateY(-50%);
          right: 90px;
        }
      }
    }
    .map-wrap {
      .container {
        padding: 50px 15px 60px;
        h2 {
          font-size: 36px;
          line-height: 48px;
          letter-spacing: 2.7px;
          padding-bottom: 50px;
        }
        .map-cont {
          padding: 30px;
          z-index: 2;
          border-radius: 3px;
          background-color: white;
          iframe {
            max-width: 1120px;
            max-height: 550px;
            width: 100%;
            height: 551px;
            background-color: white;
          }
        }
      }
    }
  }

  .gradient {
    position: relative;
    background-color: white;
    //border-top: 1px solid #f0f0f0;
    z-index: 1;
    box-shadow: 0 -5px 5px -5px rgba(223, 225, 225, 1);
    &:before {
      box-shadow: 0 2px 9px 3px rgba(223, 225, 225, 1);
      transform: rotate(89deg);
      left: -133px;
      z-index: -1;
      box-sizing: border-box;
      position: absolute;
      content: '';
      width: 280px;
      height: 1px;
      top: 146px;
    }
    &:after {
      box-shadow: 0 2px 9px 3px rgba(223, 225, 225, 1);
      transform: rotate(-89deg);
      right: -133px;
      z-index: -1;
      box-sizing: border-box;
      position: absolute;
      content: '';
      width: 280px;
      height: 1px;
      top: 146px;
    }

    &_two-categories {
      box-shadow: 0 -5px 5px -5px $black;
      border-radius: 4px;
      max-width: 1140px;
      margin: 0 auto;
      padding: 0;

      &:before {
        box-shadow: 0 2px 9px 3px $black;
        left: -57px;
        width: 130px;
        top: 77px;
      }
      &:after {
        box-shadow: 0 2px 9px 3px $black;
        right: -57px;
        width: 130px;
        top: 77px;
      }
    }
  }

  section.seller-ads {
    background-color: $text;
    .seller-prod {
      padding: 104px 15px 98px;
      background-color: #CCCCCC;
      .prs-cont {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        max-width: 1140px;
        margin: 0 auto;
        align-items: center;
        .img-wrap {
          margin: 0 0 0 69px;
          order: 1;
        }
        .cont {
          margin: 0;
          .person-name {
            font-size: 30px;
            font-weight: 400;
            line-height: 32px;
            letter-spacing: 3px;
          }
          span {
            font-size: 24px;
            text-align: right;
            line-height: 28px;
            text-transform: uppercase;
            letter-spacing: 2.4px;
            font-weight: 100;
          }
        }
      }
    }
    section.main-items {
      .tabs {
        .counter-more {
          margin-top: 30px;
          padding-top: 25px;
          border-top: 1px solid #d7d7d7;
        }
      }
      .pagination-wrap {
        justify-content: flex-end;
        .save-search {
          display: none;
        }
      }
    }
  }

  //------lk
  section.announcements, .payments, .setting, .referral, .profile, .favorite, .messages {
    .container-wrap {
      display: flex;
      flex-direction: row;
      position: relative;
      padding: 30px 15px;
      max-width: 1140px;
      margin: 0 auto;
      .bg-cont {
        background-color: initial;
        max-width: 264px;
        border: 1px solid #d7d7d7;
        margin-right: 15px;
        display: block;
        width: 100%;
      }
      .person-block{
        display: block;
        position: initial;
        background-color: transparent;
        z-index: 10;
        box-sizing: border-box;
        max-width: 100%;
        padding: 40px 0 10px 20px;
        width: 100%;
        .close {
          display: none;
        }
        .person-info {
          display: flex;
          align-items: center;
          flex-direction: row;
          padding-bottom: 40px;
          .img-cont {
            position: relative;
            border-radius: 50px;
            border: 2px solid #d5ab83;
            padding: 2px;
            width: 75px;
            height: 75px;
            overflow: hidden;
            img {
              width: 100%;
              height: 100%;
              box-sizing: border-box;
            }
          }
          .peron-name {
            padding-left: 15px;
            color: black;
            font-size: 14px;
            font-weight: 500;
            line-height: 24px;
            max-width: 55%;
            text-align: left;
          }
        }
        .link-items {
          li {
            display: flex;
            flex-direction: row;
            padding: 8px 0 8px 20px;
            align-items: center;
            margin-bottom: 20px;
            border-radius: 3px 0 0 3px;
            position: relative;
            cursor: pointer;
            &.active {
              background-color: #e7c095;
            }
            &:last-child {
              margin-top: 0px;
              margin-bottom: 0;
              &:before {
                position: absolute;
                content: '';
                width: 255px;
                height: 1px;
                background-color: #d7d7d7;
                top: -15px;
                left: -25px;
              }
            }
            img {
              display: block;
              width: 25px;
              margin-right: 15px;
            }
            a {
              text-decoration: none;
              color: black;
              font-size: 14px;
              line-height: 20px;
              font-weight: 300;
              position: relative;
              display: block;
            }
          }
        }
      }
      .block-content {
        padding: 0;
        .name-lk {
          display: none;
        }
        .radio-wrap {
          text-align: right;
          padding: 30px 30px 0;
          border: 1px solid #d2d2d2;
          max-width: 720px;
          max-height: 653px;
          box-sizing: border-box;
          overflow: auto;
          margin: 0 auto;
        }
      }
      //---payment
      .block-payment {
        width: 100%;
        padding: 0;
        .name-lk {
          display: none;
        }
        .payment-cont {
          border: 1px solid #d7d7d7;
          border-radius: 3px;
          padding: 30px 22px;
          overflow: auto;
          max-height: 653px;
          height: 100%;
          box-sizing: border-box;
          min-height: none;
        }
        .cont {
          padding: 0 0px 22px;
          .money {
            display: flex;
            flex-direction: row;
            align-items: center;
            div {
              font-size: 18px;
              padding-bottom: 0px;
              padding-right: 15px;
            }
            p {
              font-size: 18px;
            }
          }
          .replenish {
            font-size: 14px;
            padding: 13px 27px;
          }
        }
        .payment-items {
          padding: 0;
          min-height: 0;
        }
      }
      //--setting
      .block-setting {
        max-width: 100%;
        .mob {
          display: none;
        }
        .des {
          display: block;
        }
        .save-setting {
          margin-top: 55px;
          margin-left: auto;
          font-size: 18px;
          line-height: 1;
          padding: 15px 30px;
          max-width: 200px;
          display: flex;
          text-align: left;
          margin-right: 0;
          width: 100%;
          position: relative;
          &:before {
            position: absolute;
            content: '';
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            background-image: url("./../images/icons/arrow-black-r.svg");
            right: 30px;
            width: 8px;
            top: 50%;
            transform: translateY(-50%);
            height: 12px;
          }
        }
      }
      //---referral
      .block-referral {
        width: 100%;
        padding: 45px;
        .name-lk {
          display: none;
        }
        p {
          font-size: 12px;
          line-height: 24px;
        }
        .referral {
          padding-top: 40px;
          max-width: 100%;
          label {
            font-size: 12px;
            margin-bottom: 40px;
            input {
              max-width: 500px;
            }
          }
          .referral-save {
            padding: 15px 40px;
            font-size: 18px;
            text-align: left;
            margin: 60px auto;
            max-width: 300px;
            &:before {
              position: absolute;
              content: '';
              width: 8px;
              height: 12px;
              right: 30px;
              top: 50%;
              transform: translateY(-50%);
              background-size: contain;
              background-position: center;
              background-repeat: no-repeat;
              background-image: url("./../images/icons/arrow-black-r.svg");
            }
          }
        }
        .referral-link {
          padding-bottom: 30px;
          margin-bottom: 35px;
          a {
            font-size: 18px;
            transition: all 0.3s ease-in-out;
            &:hover {
              color: #ddb58b;
            }
          }
        }
        .block-thanks {
          padding: 40px 35px;
          p {
            font-size: 14px;
            line-height: 30px;
            padding-bottom: 45px;
            &:last-child {
              padding-bottom: 0;
            }
          }
        }
      }
      //--profile
      .block-profile {
        margin: 0;
        max-width: 100%;
        width: 100%;
        .name-lk {
          display: none;
        }
        .option-prof {
          max-width: 510px;
          margin-left: auto;
          .cont {
            margin-bottom: 15px;
          }
          .save-profile {
            font-size: 16px;
            padding: 10px 45px;
            max-width: 200px;
            width: 100%;
            text-align: left;
            &:before {
              position: absolute;
              content: '';
              background-image: url("./../images/icons/arrow-black-r.svg");
              right: 45px;
              width: 6px;
              top: 50%;
              transform: translateY(-50%);
              height: 10px;
              background-repeat: no-repeat;
              background-position: center;
              background-size: contain;
            }
          }
        }
      }
      //--block-favorite
      .block-favorite {
        // padding: 30px 15px;
        .name-lk {
          display: none;
        }
        .radio-wrap {
          text-align: right;
          padding: 30px 30px 0;
          border: 1px solid #d2d2d2;
          max-width: 720px;
          max-height: 653px;
          box-sizing: border-box;
          overflow: auto;
          margin: 0 auto;
        }
      }

      //---messages
      .block-messages {
        max-width: 100%;
        display: flex;
        padding-top: 0;
        flex-direction: row;
        padding-bottom: 0;
        .name-lk {
          display: none;
        }
        .chat-cont {
          position: initial;
          border-left: 1px solid $border;
          padding: 20px 0 0px;
          width: 100%;
          .chat-person {
            padding: 0 20px 15px 20px;
            margin: 0;
            position: relative;
            border-bottom: none;
            &:before {
              position: absolute;
              content: '';
              width: 93%;
              height: 1px;
              background-color: $border;
              bottom: 0;
              left: 25px;
              right: 0px;
            }
            .back-chat {
              display: none;
            }
            .name {
              font-size: 14px;
              line-height: 24px;
            }
            .img-wrap {
              width: 85px;
              height: 85px;
            }
          }
          .communication-items {
            padding: 25px;
            .communication-items-in {
              width: 100%;
            }
            .communication-items-out {
              width: 100%;
            }
          }
          .cont {
            position: initial;
            width: 100%;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            &.active {
              position: initial;
            }
          }
          .communication-mess {
            border-bottom: none;
            border-left: none;
            border-right: 1px solid $border;
            border-top: 1px solid $border;
            margin-top: 0;

          }
          .sent-comm {
            margin: 0;
            padding: 30px 0;
            width: 60%;
          }
          &.active {
            position: initial;
          }
        }
      }
    }
  }

  .tabs-mess {
    padding-top: 30px;
    max-width: 330px;
    .tabs__caption {
      padding-left: 0;
      li {
        padding: 0 15px 23px;
        font-size: 16px;
      }
    }
  }

  .item-messages {
    padding: 13px 0;
    margin: 0;
    max-width: 100%;
    .item-cont {
      max-width: 200px;
      .from {
        padding-bottom: 8px;
      }
      .price-wrap {
        margin-top: 10px;
      }
    }
  }

  .item-payment {
    padding: 20px 20px;
    justify-content: space-between;
    max-width: 100%;
    margin: 30px auto 0;
    .info-cont {
      display: flex;
      &:first-child {
        border-right: 1px solid #d7d7d7;
        padding-right: 22px;
      }
    }
    &:before {
      content: none;
    }
    .pay-info {
      display: flex;
      flex-direction: row;
      margin-bottom: 0px;

      padding: 0 15px;
      border-right: 1px solid #d7d7d7;
      &:first-child {
        padding: 0 15px 0 0;
      }
      &:last-child {
        padding: 0 0px 0 15px;
        border: none;
      }
      p {
        font-size: 12px;
        margin-bottom: 0px;
        padding-right: 10px;
      }
      span {
        font-size: 12px;
      }
    }
  }

  .ad-item {
    .ad-cont {
      .name-block {
        h2 {
          line-height: 30px;
        }
      }
    }
  }

  section.result-search {
    .search-bg {
      .result {
        font-size: 30px;
        font-weight: 500;
        letter-spacing: 4.8px;
        span {
          display: inline-block;
          font-size: 30px;
        }
      }
    }
  }

  section.item-page {
    padding-top: 80px;
    .cart-info-block {
      .slider-item-page {
        max-width: 450px;
        .gallery-top .swiper-slide {
          max-height: 500px;
        }
        .gallery-thumbs .swiper-slide {
          max-height: 100px;
        }
      }
      .item-information {
        padding-top: 0;
        padding-left: 0px;
        max-width: 400px;
        width: 100%;
        .favorite-icon {
          width: 20px;
          height: 20px;
        }
        .item-name {
          font-size: 30px;
          line-height: 55px;
          padding-bottom: 40px;
          max-width: 380px;
        }
        .item-price {
          font-size: 30px;
          text-align: right;
          max-width: 400px;
        }
        .cont-specifications {
          padding: 40px 30px;
          margin-top: 40px;
          .cont {
            margin-bottom: 40px;
            p {
              font-size: 16px;
            }
            span {
              font-size: 14px;
              max-width: 200px;
            }
          }
        }
        .seller-item {
          padding-top: 40px;
          padding-bottom: 40px;
          .cont-name {
            padding-right: 35px;
            margin-right: 30px;
            h3 {
              font-size: 24px;
            }
            .phone {
              font-size: 24px;
            }
          }
          .img-seller {
            width: 90px;
            height: 90px;
            border: 2px solid $GoldSand;
          }
        }
        .call-seller {
          max-width: 260px;
          font-size: 18px;
          padding: 17px 15px;
          &:before {
            right: 15px;
            top: 50%;
            width: 8px;
            height: 12px;
            transform: translateY(-50%);
          }
        }
      }
    }
    .tabs-mess{
      max-width: initial;
      margin: 60px auto 0;
      padding-top: 0;
      width: auto;
      .bg-color {
        background-color: $GoldSand;
      }
      .tabs__caption {
        max-width: 1140px;
        padding-top: 20px;
        margin: 0 auto;
        border-bottom: none;
        justify-content: flex-start;
        li {
          font-size: 16px;
          //margin-right: 125px;
          padding-bottom: 13px;
          width: 100%;
          letter-spacing: 1.1px;
          border-bottom: 4px solid transparent;
          display: flex;
          span {
            display: block;
            padding-right: 5px;
          }
          &.active {
            color: #000;
            border-bottom: 4px solid black;
          }
          &:first-child {
            max-width: 170px;
            margin-right: 120px;
          }
          &:nth-child(2) {
            max-width: 100px;
            margin-right: 130px;
          }
          &:last-child {
            max-width: 230px;
          }
        }
      }
      .tabs__content {
        .container{
          padding: 35px 15px 80px;
          h2 {
            padding-top: 25px;
            font-size: 36px;
            padding-bottom: 40px;
          }
          p {
            font-size: 16px;
            line-height: 35px;
          }
          .person {
            padding-top: 25px;
            margin-bottom: 50px;
            .person-prof {
              width: 135px;
              padding: 3px;
              height: 135px;
            }
            .person-rating {
              max-width: 100px;
              width: 100%;
              margin-bottom: 20px;
            }
            .person-name {
              font-size: 36px;
              line-height: 1;
              padding-bottom: 15px;
            }
            .person-phone {
              font-size: 24px;
              line-height: 1;
              margin-bottom: 25px;
              &:before {
                width: 20px;
                height: 20px;
                left: -30px;
              }
            }
            .person-social {
              max-width: 140px;
              a {
                &:nth-child(1) {
                  &:before {
                    width: 32px;
                    height: 34px;
                  }
                }
                &:nth-child(2) {
                  &:before {
                    width: 40px;
                    height: 32px;
                  }
                }
                &:nth-child(3) {
                  &:before {
                    width: 34px;
                    height: 34px;
                  }
                }
              }
            }
            .person-laung {
              p {
                line-height: 1;
                font-size: 18px;
                padding-bottom: 15px;
              }
              span {
                font-size: 14px;
                line-height: 1;
              }
            }
            .person-address {
              max-width: 330px;
              .address {
                p {
                  font-size: 18px;
                  line-height: 1;
                }
                span {
                  font-size: 18px;
                  line-height: 1;
                }
              }
            }
            .all-ads {
              margin-top: 50px;
              font-size: 18px;
              max-width: 410px;
              padding: 14px 65px;
              &:before {
                right: 40px;
              }
            }
          }
          .setting-cont {
            max-width: 750px;
            position: relative;
            padding-bottom: 15px;
            display: flex;
            &:before {
              position: absolute;
              bottom: 19px;
              width: 100%;
              height: 1px;
              background-color: $border;
              content: '';
            }
            p {
              font-size: 18px;
              background-color: $text;
              overflow: hidden;
              z-index: 1;
              padding-right: 5px;
            }
            span {
              font-size: 18px;
              background-color: $text;
              overflow: hidden;
              z-index: 1;
              padding-left: 5px;
            }
          }
        }
      }
    }
  }

  section.submitting {
    .form-cont {
      padding-top: 130px;
      .tabs-mess {
        .tabs__caption {
          li {
            font-size: 24px;
            padding: 20px 60px 12px;
            flex-direction: row-reverse;
            text-transform: uppercase;
            align-items: center;
            span {
              font-size: 24px;
              padding-left: 25px;
            }
          }
        }
        .tabs__content.active {
          .tabs-item {
            padding-top: 20px;
            .input-case, .select-price, .info-price {
              max-width: 800px;
            }
            h2 {
              font-size: 36px;
              padding: 65px 0;
              display: flex;
              flex-direction: row;
              align-items: baseline;
              span {
                font-size: 16px;
                padding-left: 30px;
              }
            }
            .select-price {
              margin-top: 0px;
              display: flex;
              flex-direction: row;
              align-items: center;
              &:nth-child(3) {
                p {
                  align-items: center;
                  .input-info {
                    top: -105px;
                  }
                }
              }
              .cont {
                width: 100%;
              }
              p {
                font-size: 14px;
                max-width: 260px;
                height: 41px;
                width: 100%;
                align-items: flex-end;
                img {
                  width: 20px;
                  height: 20px;
                  margin-left: 15px;
                  cursor: pointer;
                }
                .input-info {
                  padding: 10px;
                  font-size: 13px;
                  line-height: 15px;
                  width: 100%;
                  top: -95px;
                  right: 0px;
                }
              }
              .select-value {
                font-size: 16px;
                padding: 10px;
                margin-top: 10px;
                margin-left: auto;
                max-width: 600px;
                span {
                  font-size: inherit;
                }
              }
              .value-items {
                max-width: 600px;
                top: 53px;
                li {
                  &:hover {
                    background-color: $border;
                  }
                }
              }
              span {
                font-size: 13px;
                max-width: 500px;
                line-height: 18px;
                width: 100%;
                margin: 0 auto;
                padding: 3px 0 0 0;
              }
              .input-cont-price {
                width: 100%;
                max-width: 400px;
              }
            }
            .step-2-cont, .step-3-cont {
              .prev-step, .save-next, .save-edit {
                max-width: 300px;
                &:before {
                  right: 20px;
                }
              }
            }
            .info-price {
              display: flex;
              flex-direction: row;
              align-items: baseline;
              .select-price {
                .value-items {
                  max-width: 90px;
                  right: 0px;
                }
              }
            }
            label {
              max-width: 800px;
              display: flex;
              flex-direction: row;
              font-size: 14px;
              font-weight: 500;
              justify-content: space-between;
              align-items: flex-end;
              .cont-wrap {
                width: 100%;
                max-width: 540px;
                input {
                  max-width: 100%;
                }
              }
              .size-cont, .input-cont {
                font-size: 16px;
                width: 100%;
                max-width: 540px;
                input {
                  max-width: 40% !important;
                  width: 100%;
                  font-size: 16px;
                }
              }

              input {
                font-size: 16px;
                padding: 10px;
                text-align: center;
                font-weight: 300;
                color: #000;
                max-width: 540px;
              }
              textarea {
                margin-top: 0;
                max-width: 540px;
                &::placeholder {
                  font-size: 13px;
                }
              }

            }
            .description {
              padding-top: 50px;
            }
            .prev-step {
              font-size: 18px;
              max-width: 350px;
              position: relative;
              &:before {
                position: absolute;
                content: '';
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                width: 8px;
                height: 13px;
                background-image: url("./../images/icons/arrow-black-r.svg");
                top: 50%;
                transform: translateY(-50%) rotate(180deg);
                left: 20px;
              }
            }
            .save-next {
              font-size: 16px;
              max-width: 300px;
              position: relative;
              &:before {
                position: absolute;
                content: '';
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                width: 8px;
                height: 13px;
                background-image: url("./../images/icons/arrow-black-r.svg");
                top: 50%;
                transform: translateY(-50%);
                right: 25px;
              }
            }
            .save-edit {
              font-size: 16px;
              max-width: 300px;
              position: relative;
            }
            .img-text {
              font-size: 14px;
              line-height: 30px;
            }
            .add-img-wrap {
              p {
                text-align: left;
                font-size: 14px;
                padding-bottom: 40px;
              }

            }
            .control-block-wrap {
              justify-content: space-between;
              .control-photo{
                padding: 40px 45px;
                max-width: 415px;
                h3 {
                  font-size: 14px;
                  padding-bottom: 25px;
                }
                .head-cont {
                  .info-cont {
                    max-width: 148px;
                    height: 100%;
                    max-height: 162px;
                    padding: 18px 25px;
                    img {
                      max-width: 150px;
                    }
                    span {
                      padding-top: 10px;
                      font-size: 14px;
                      padding-bottom: 35px;
                    }
                  }
                  .person-cont {
                    width: 180px;
                    height: 180px;
                    border: 10px solid white;
                   .preview {
                     width: 95px;
                   }
                    span {
                      font-size: 11px;
                      max-width: 80px;
                      line-height: 24px;
                      padding-top: 95px;
                    }
                  }
                }
              }
            }
            .block-data-cont {
              max-width: 100%;
              display: flex;
              align-items: center;
              padding: 20px 70px 15px 60px;
              .text-cont {
                width: 100%;
                max-width: 700px;
                h3 {
                  font-size: 14px;
                }
                .text-item {
                  font-size: 13px;
                  line-height: 25px;
                }
              }
              .img-cont {
                display: flex;
                position: relative;
                width: 215px;
                align-items: flex-end;
                img {
                  &:first-child {
                    width: 75px;
                    height: 100%;
                  }
                  &:last-child {
                    width: 125px;
                  }
                }
              }
              .text-cont {
                .img-cont {
                  display: none;
                }
              }
            }
            .check-cont {
              max-width: 870px;
              margin-left: auto;
              .checkbox-other {
                span {
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
    }
  }

  .cont-img {
    .added-images {
      width: 100%;
      height: 200px;
    }
    #uploadImagesList {
      grid-template-columns: repeat(5, 200px);
      grid-gap: 30px;
      .item {
        .img-wrap {
          img {
            max-width: 200px;
            max-height: 200px;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .delete-link {
          position: absolute;
          top: 10px;
          right: 10px;
          width: 20px;
          height: 20px;
          background-image: url("./../images/icons/close-dark.svg");
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          cursor: pointer;
        }
      }
    }
  }

  #referral_number {
    display: none;
    width: 100%;
    max-width: 945px;
    overflow: initial;
    padding: 0;
    border-radius: 3px;
    .number-wrap {
      .search-wrap {
        .banner-search {
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
        }
        .text-modal {
          width: 100%;
          max-width: 410px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 100px;
          h2 {
            font-size: 26px;
            text-align: center;
            color: black;
            font-weight: normal;
            text-transform: uppercase;
            letter-spacing: 1.1px;
            max-width: 360px;
          }
          .search-container {
            position: relative;
            display: flex;
            flex-direction: column;
            input {
              margin-top: 20px;
              background-color: transparent;
              border-bottom: 1px solid #a89d92;
              border-top: none;
              border-left: none;
              border-right: none;
              text-align: center;
              outline: none;
              padding: 20px 65px 40px;
              max-width: 360px;
              font-size: 14px;
              line-height: 22px;
              &::placeholder{
                color: white;
                text-align: center;
                letter-spacing: 1.1px;
                white-space: pre-wrap;
              }
            }
            .result-search {
              top: 104px;
            }
            .search-btn {
              margin-top: 65px;
              position: relative;
              color: #000;
              font-size: 18px;
              font-weight: normal;
              border: 2px solid #ddb58b;
              max-width: 360px;
              width: 100%;
              text-align: center;
              padding: 14px 100px;
              text-transform: uppercase;
              &:before {
                position: absolute;
                content: '';
                background-image: url("../images/icons/arrow-black-r.svg");
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                width: 8px;
                height: 12px;
                right: 90px;
                top: 50%;
                transform: translateY(-50%);
              }
            }
          }
        }
      }
      .accessories {
        .banner-search {
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
        }
        .text-modal {
          width: 100%;
          max-width: 410px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 100px;

          h2 {
            font-size: 26px;
            text-align: center;
            color: black;
            font-weight: normal;
            text-transform: uppercase;
            letter-spacing: 1.1px;
            max-width: 410px;
          }
          .search-container {
            position: relative;
            display: flex;
            flex-direction: column;
            input {
              margin-top: 20px;
              background-color: transparent;
              border-bottom: 1px solid #a89d92;
              border-top: none;
              border-left: none;
              border-right: none;
              text-align: center;
              outline: none;
              padding: 10px 65px;
              width: 100%;
              max-width: 410px;
              font-size: 14px;
              font-weight: normal;
              line-height: 22px;
              margin-bottom: 10px;
            }
            .result-search {
              z-index: 10;
              display: none;
              position: absolute;
              top: 65px;
              padding: 18px;
              background-color: white;
              max-height: 565px;
              overflow-y: auto;
            }

            //.chek_cont_set {
            //  margin: 0 auto 25px;
            //  .checkbox-other {
            //    display: block;
            //    //margin: 0 0 10px 0;
            //    cursor: pointer;
            //    user-select: none;
            //    position: relative;
            //    margin-top: 20px;
            //  }
            //  .checkbox-other input[type=checkbox] {
            //    position: absolute;
            //    z-index: -1;
            //    opacity: 0;
            //    display: block;
            //    width: 0;
            //    height: 0;
            //  }
            //  .checkbox-other span {
            //    display: inline-block;
            //    position: relative;
            //    font-size: 14px;
            //    font-weight: normal;
            //    color: white;
            //    padding-left: 45px;
            //    width: 100%;
            //    max-width: 240px;
            //  }
            //  .checkbox-other span:before {
            //    content: "";
            //    display: inline-block;
            //    width: 16px;
            //    height: 16px;
            //    position: absolute;
            //    left: 0;
            //    top: 15px;
            //    border-radius: 2px;
            //    border: 2px solid #bcc4c2;
            //  }
            //  /* Checked */
            //  .checkbox-other input[type=checkbox] + span:after {
            //    content: "";
            //    opacity: 0;
            //    transition: opacity 0.3s ease;
            //  }
            //  .checkbox-other input[type=checkbox]:checked + span:after {
            //    display: inline-block;
            //    width: 26px;
            //    height: 30px;
            //    position: absolute;
            //    left: -4px;
            //    top: 7px;
            //    background-image: url("./../images/icons/ok-white.svg");
            //    opacity: 1;
            //    background-size: cover;
            //  }
            //}

            .search-btn {
              margin-top: 30px;
              position: relative;
              color: #000;
              font-size: 18px;
              font-weight: normal;
              border: 2px solid #ddb58b;
              max-width: 410px;
              width: 100%;
              text-align: center;
              padding: 14px 100px;
              text-transform: uppercase;
              &:before {
                position: absolute;
                content: '';
                background-image: url("../images/icons/arrow-black-r.svg");
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                width: 8px;
                height: 12px;
                right: 90px;
                top: 50%;
                transform: translateY(-50%);
              }
            }
          }
        }
      }

      .loader-wrap {
        background: linear-gradient(#8a7969, #b38d67);
        height: 100%;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        h2 {
          font-size: 26px;
          letter-spacing: 1.1px;
          text-transform: uppercase;
          font-weight: normal;
          line-height: 45px;
          color: #000;
          max-width: 480px;
          width: 100%;
          text-align: center;
          padding-bottom: 40px;
        }
        .time-loading {
          position: relative;
          span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            font-size: 53px;
            font-weight: normal;
            color: white;
          }
          img {
            width: 160px;
            height: 160px;
          }
        }
        p {
          padding-top: 40px;
          font-size: 18px;
          color: white;
          font-weight: normal;
          letter-spacing: 1.1px;
        }
      }
    }
  }

  .result-search-item {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    padding: 10px 0;
    &:hover {
      border-bottom: 2px solid $GoldSand;
      .info-cont {
        h3, p {
          color: $GoldSand;
        }
      }
    }
    img {
      margin-right: 15px;
      width: 80px;
      height: 80px;
      object-fit: contain;
    }
    .info-cont {
      max-width: 280px;
      width: 100%;
      h3, p {
        font-size: 12px;
        line-height: 23px;
        font-weight: 300;
        color: #000;
        margin: 0;
        transition: all 0.3s ease-in-out
      }
    }
  }

}
