@font-face {
    font-family: 'Nunito';
    src: url('Nunito-Light.eot');
    src: url('Nunito-Light.eot?#iefix') format('embedded-opentype'),
        url('Nunito-Light.woff2') format('woff2'),
        url('Nunito-Light.woff') format('woff'),
        url('Nunito-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('Nunito-Regular.eot');
    src: url('Nunito-Regular.eot?#iefix') format('embedded-opentype'),
        url('Nunito-Regular.woff2') format('woff2'),
        url('Nunito-Regular.woff') format('woff'),
        url('Nunito-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFRounded';
    src: url('SFRounded-Medium.eot');
    src: url('SFRounded-Medium.eot?#iefix') format('embedded-opentype'),
        url('SFRounded-Medium.woff2') format('woff2'),
        url('SFRounded-Medium.woff') format('woff'),
        url('SFRounded-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFRounded';
    src: url('SFRounded-Heavy.eot');
    src: url('SFRounded-Heavy.eot?#iefix') format('embedded-opentype'),
        url('SFRounded-Heavy.woff2') format('woff2'),
        url('SFRounded-Heavy.woff') format('woff'),
        url('SFRounded-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('SFProDisplay-Medium.eot');
    src: url('SFProDisplay-Medium.eot?#iefix') format('embedded-opentype'),
        url('SFProDisplay-Medium.woff2') format('woff2'),
        url('SFProDisplay-Medium.woff') format('woff'),
        url('SFProDisplay-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProText';
    src: url('SFProText-Regular.eot');
    src: url('SFProText-Regular.eot?#iefix') format('embedded-opentype'),
        url('SFProText-Regular.woff2') format('woff2'),
        url('SFProText-Regular.woff') format('woff'),
        url('SFProText-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProText';
    src: url('SFProText-Medium.eot');
    src: url('SFProText-Medium.eot?#iefix') format('embedded-opentype'),
        url('SFProText-Medium.woff2') format('woff2'),
        url('SFProText-Medium.woff') format('woff'),
        url('SFProText-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProText';
    src: url('SFProText-Light.eot');
    src: url('SFProText-Light.eot?#iefix') format('embedded-opentype'),
        url('SFProText-Light.woff2') format('woff2'),
        url('SFProText-Light.woff') format('woff'),
        url('SFProText-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFCompactText';
    src: url('SFCompactText-Thin.eot');
    src: url('SFCompactText-Thin.eot?#iefix') format('embedded-opentype'),
        url('SFCompactText-Thin.woff2') format('woff2'),
        url('SFCompactText-Thin.woff') format('woff'),
        url('SFCompactText-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFRounded';
    src: url('SFRounded-Regular.eot');
    src: url('SFRounded-Regular.eot?#iefix') format('embedded-opentype'),
        url('SFRounded-Regular.woff2') format('woff2'),
        url('SFRounded-Regular.woff') format('woff'),
        url('SFRounded-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProText';
    src: url('SFProText-Semibold.eot');
    src: url('SFProText-Semibold.eot?#iefix') format('embedded-opentype'),
        url('SFProText-Semibold.woff2') format('woff2'),
        url('SFProText-Semibold.woff') format('woff'),
        url('SFProText-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFRounded';
    src: url('SFRounded-Light.eot');
    src: url('SFRounded-Light.eot?#iefix') format('embedded-opentype'),
        url('SFRounded-Light.woff2') format('woff2'),
        url('SFRounded-Light.woff') format('woff'),
        url('SFRounded-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProText';
    src: url('SFProText-Ultralight.eot');
    src: url('SFProText-Ultralight.eot?#iefix') format('embedded-opentype'),
        url('SFProText-Ultralight.woff2') format('woff2'),
        url('SFProText-Ultralight.woff') format('woff'),
        url('SFProText-Ultralight.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFCompactDisplay';
    src: url('SFCompactDisplay-Light.eot');
    src: url('SFCompactDisplay-Light.eot?#iefix') format('embedded-opentype'),
        url('SFCompactDisplay-Light.woff2') format('woff2'),
        url('SFCompactDisplay-Light.woff') format('woff'),
        url('SFCompactDisplay-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProText';
    src: url('SFProText-Thin.eot');
    src: url('SFProText-Thin.eot?#iefix') format('embedded-opentype'),
        url('SFProText-Thin.woff2') format('woff2'),
        url('SFProText-Thin.woff') format('woff'),
        url('SFProText-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('SFProDisplay-Light.eot');
    src: url('SFProDisplay-Light.eot?#iefix') format('embedded-opentype'),
        url('SFProDisplay-Light.woff2') format('woff2'),
        url('SFProDisplay-Light.woff') format('woff'),
        url('SFProDisplay-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('SFProDisplay-Regular.eot');
    src: url('SFProDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('SFProDisplay-Regular.woff2') format('woff2'),
        url('SFProDisplay-Regular.woff') format('woff'),
        url('SFProDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProText';
    src: url('SFProText-Bold.eot');
    src: url('SFProText-Bold.eot?#iefix') format('embedded-opentype'),
        url('SFProText-Bold.woff2') format('woff2'),
        url('SFProText-Bold.woff') format('woff'),
        url('SFProText-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

